**/node_modules/
**/solidity-lib/
**/HttpRequest/
**/build/
**/key/
**/log/
**/package-lock.json
**/*.old
**/*.old/
**/*.orig
**/*.log
**/*/*.old
**/*/*.orig
**/*/*.log
**/*/*.snippet
**/*/*.tar.gz
**/**/walletConfig.json
**/**/account4.json
**/**/mailConfig.json
**/**/serverConfig.json
**/**/UTC--2018-04-16T03-21-26.305742000Z--004a129bd105e80631e241450d884612508eee73.json
